<div class="container" data-ng-init="init()">
    <div class="chat_container">
        <div class="col-sm-6 message_section">
            <div class="row" id="chatBack" style="height:99vh; background-image:url(/lightBackground.jpg)">
                <div class="new_message_head">
                    <a href="#" ng-click="showtab('chat')">Chat</a>
                    <a href="#" ng-click="showtab('settings')">Settings</a>
                </div>
                <div ng-include="'settings.html'"> </div> <!--settings area here-->
                <div ng-include="'chat.html'"> </div><!--chat area here-->         
            </div>
        </div>
    </div>
</div>