<div ng-hide="showChatTab">        
    <div class="maxl">
        <label>{{'USER_NAME'| translate}}</label>
        <span>
            <input type="text" id="user" ng-model="userName" />
        </span>
        <label>{{'INTERFACE_COLOR' | translate}}</label>
        <label class="radio inline">
            <input type="radio" ng-model="colortheme" value="light" ng-click="colorChanged('light')"/>
            <span>{{'LIGHT' | translate}}</span>
        </label>
        <label class="radio inline">
            <input type="radio" ng-model="colortheme" value="dark" ng-click="colorChanged('dark')"/>
            <span>{{'DARK' | translate}}</span>
        </label>
        <label>{{'CLOCK_DISPLAY' | translate}}</label>
        <label class="radio inline">
            <input type="radio" id="clk" ng-model="clock" value="12" ng-click="clockChanged(12)"/>
            <span>{{'12_HOURS' | translate}}</span>
        </label>
        <label class="radio inline">
            <input type="radio" ng-model="clock" value="24" ng-click="clockChanged(24)"/>
            <span>{{'24_HOURS' | translate}}</span>
        </label>
        <!-- <label>Message Sounds</label>
        <label class="radio inline">
            <input type="radio" name="sound" value="on" checked>
            <span>On </span>
        </label>
        <label class="radio inline">
            <input type="radio" name="sound" value="off">
            <span>Off </span>
        </label> -->
        <label>{{'SEND_MESSAGE_CTRL' | translate}}</label>
        <label class="radio inline">
            <input type="radio" value="true" ng-model="enterEnable" ng-click="enterChanged(true)"/>
            <span>{{'ON' | translate}}</span>
        </label>
        <label class="radio inline">
            <input type="radio" value="false" ng-model="enterEnable" ng-click="enterChanged(false)"/>
            <span>{{'OFF' | translate}}</span>
            </span>
        </label>
        <label>{{'LANGUAGE '| translate}}</label>
        <div class="dropDownContainer">
            <select ng-model="language" ng-change="changeLanguage(language)">
                <option value="en">{{'ENGLISH' | translate }}</option>
                <option value="fr">{{'FRENCH' | translate }}</option>
            </select>
        </div>
        <div class="pull-left" style="display: block;">
            <div class="btn btn-reset" style="margin-left: 20px; margin-top: 20px;" ng-click="saveSettings(true)" title="{{'SAVE' | translate }}">{{'SAVE' | translate }}</div>                  
        </div>
        
        <div class="alert alert-success" id="succ_alert" style="display:none;opacity: 0.8;" >
            {{'SEETINGS_SAVED' | translate }}       
        </div>
    </div>
    <div class="button-container">
        <div class="btn btn-reset" ng-click="resetDefault()" title="{{'RESET_TO_DEFAULTS' | translate }}">{{'RESET_TO_DEFAULTS' | translate }}</div>
    </div>
</div>