body{
	max-height: 100vh !important;
}
 
main_container{
    max-height: 100vh !important;
}
 
div.container {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

div.chat_container {
	 display: flex;
	 justify-content: center;
	 background-color: rgb(245, 245, 245);
	 min-height: 100vh;
}
 
#custom-search-input {
 	background: #fff none repeat scroll 0 0;
 	margin: 0;
 	padding: 7px;
	border: none;
	position: relative;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
}

#custom-search-input::before {
	content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
	width: 100%;
	overflow: hidden;
    top: 0px; right: 0px; left: 0px; bottom: 0px;
	filter: blur(15px);
	-webkit-filter: blur(20px);
	-moz-filter: blur(15px);
	-ms-filter: blur(15px);
	-o-filter: blur(15px);
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 		
}

input.search-query.form-control {
	box-shadow: none;
	border-radius: 0px;
	border-color: rgba(0, 0, 0, 0);	
}

input.search-query.form-control:focus {
	box-shadow: none;
	border-radius: 0px;
	border-color: #dddddd;
}

#custom-search-input .search-query {
 	background: #fff none repeat scroll 0 0 !important;
 	border-radius: none;
 	height: 33px;
 	margin-bottom: 0;
 	padding-left: 7px;
 	padding-right: 7px;
 }

#custom-search-input button {
 	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 	border: 0 none;
 	border-radius: 3px;
 	color: #666666;
 	left: auto;
 	margin-bottom: 0;
 	margin-top: 7px;
 	padding: 2px 5px;
 	position: absolute;
 	right: 0;
 	z-index: 9999;
}

.search-query:focus+button {
 	z-index: 3;
}

.all_conversation button {
 	background: #f5f3f3 none repeat scroll 0 0;
 	border: 1px solid #dddddd;
 	height: 38px;
 	text-align: left;
 	width: 100%;
}

.all_conversation i {
 	background: #e9e7e8 none repeat scroll 0 0;
 	border-radius: 100px;
 	color: #636363;
 	font-size: 17px;
 	height: 30px;
 	line-height: 30px;
 	text-align: center;
 	width: 30px;
}

.all_conversation .caret {
 	bottom: 0;
 	margin: auto;
 	position: absolute;
 	right: 15px;
 	top: 0;
}

.all_conversation .dropdown-menu {
 	background: #f5f3f3 none repeat scroll 0 0;
 	border-radius: 0;
 	margin-top: 0;
 	padding: 0;
 	width: 100%;
}

.all_conversation ul li {
 	border-bottom: 1px solid #dddddd;
 	line-height: normal;
 	width: 100%;
}

.all_conversation ul li a:hover {
 	background: #dddddd none repeat scroll 0 0;
 	color: #333;
}

.all_conversation ul li a {
 	color: #333;
 	line-height: 30px;
 	padding: 3px 20px;
}

div.header_sec {
	display: inline-block;
}

div.header_sec .primary-font{
	padding: 0px 10px;
}

div.contact_sec {
	position: absolute;
	display: inline-block;
	right: 5px;
}

.top_nav {
 	overflow: visible;
}

.chat-img img {
 	height: 34px;
 	width: 34px;
}

.sub_menu_ {
 	background: #e8e6e7 none repeat scroll 0 0;
 	left: 100%;
 	max-width: 233px;
 	position: absolute;
 	width: 100%;
}

.sub_menu_ {
 	background: #f5f3f3 none repeat scroll 0 0;
 	border: 1px solid rgba(0, 0, 0, 0.15);
 	display: none;
 	left: 100%;
 	margin-left: 0;
 	max-width: 233px;
 	position: absolute;
 	top: 0;
 	width: 100%;
}

.all_conversation ul li:hover .sub_menu_ {
 	display: block;
}

.new_message_head button {
 	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 	border: medium none;
}

.new_message_head {
 	background:#c3bcb0;
	color: #777777;
 	float: left;
 	font-size: 13px;
 	font-weight: 600;
 	padding: 18px 10px;
 	width: 100%;
	position: relative;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	z-index: 999;
	/*backdrop-filter: blur(5	px);*/
}

.new_message_head::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
	width: 100%;
	overflow: hidden;
    top: 0px; right: 0px; left: 0px; bottom: 0px;
	filter: blur(15px);
	-webkit-filter: blur(20px);
	-moz-filter: blur(15px);
	-ms-filter: blur(15px);
	-o-filter: blur(15px);
}

.message_section {
 	border: 1px solid #dddddd;
}

.mainSection {
 	height: 99vh;
}

.chat_area {
 	float: left;
 	overflow-x: hidden;
 	overflow-y: auto;
 	width: 100%;
	margin-bottom: 0px;
	max-height: 72vh;
}

.chat_area ul.list-unstyled{
	margin-bottom: 0px;
	padding-bottom: 25px;
}

.chat_area li {
 	padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
 	height: 40px;
 	width: 40px;
}

.chat_area .chat-body1 {
	margin-left: 20px;
}

.chat-body1 p {
 	background: #c3bcb0 none repeat scroll 0 0;
 	padding: 10px;
	border-radius: 10px;
	min-width: 50px;
	max-width: 90%;
	padding-bottom: 7px;
	margin-top: 10px;
	display: block;
}

.chat_area .self_chat .chat-body1 {
 	margin-left: 0;
 	margin-right: 20px;
}

.self_chat .chat-body1.clearfix p {
	 float: right;
	 box-sizing: content-box;
	 position: relative;
	 min-width: 50px;
	 max-width: 90%;
	 background-color: #c9efad;
}

.partner_chat .chat-body1.clearfix div.image_chat{
	background: rgba(245,243,243,0.9) none repeat scroll 0 0;
 	padding: 10px;
	border-radius: 10px;
	display: block;
	max-width: 60%;
	margin-top: 10px;
	float: left;
	box-sizing: content-box;
	position: relative;
}

.partner_chat .chat-body1.clearfix .image_chat::before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	background-color: #c3bcb0;
	border-radius: 50%;
	position: absolute;
	left: -8px;
	top: -7px;
}

.self_chat .chat-body1.clearfix div.image_chat{
	background: rgba(245,243,243,0.9) none repeat scroll 0 0;
 	padding: 10px;
	border-radius: 10px;
	display: block;
	max-width: 60%;
	margin-top: 10px;
	float: right;
	box-sizing: content-box;
	position: relative;
}

.self_chat .chat-body1.clearfix .image_chat::before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	background-color: rgba(245,243,243,0.9);
	border-radius: 50%;
	position: absolute;
	right: -8px;
	top: -7px;
}

.partner_chat .chat-body1.clearfix p {
	float: left;
	box-sizing: content-box;
	position: relative;
	min-width: 50px;
	max-width: 90%;
}

.self_chat .chat-body1.clearfix p::before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	background-color: #c9efad;
	border-radius: 50%;
	position: absolute;
	right: -8px;
	top: -7px;
}


.partner_chat .chat-body1.clearfix p::before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	background-color: #c3bcb0;
	border-radius: 50%;
	position: absolute;
	left: -8px;
	top: -7px;
}

.chat_area li:last-child {
 	padding-bottom: 20px;
}

.message_write {
	background: #c3bcb1 none repeat scroll 0 0;
 	float: left;
 	padding: 15px 15px 15px 15px;
 	width: 100%;
	position: absolute;
	bottom: 0px;
	margin-top: 0px;
	height:80px;
	display: -webkit-box;
}

.message_write textarea.form-control {
 	/*padding: 10px;*/
	border-radius: 0px;
	border-color: #dddddd;
	box-shadow: none ;
	-webkit-transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	line-height: 20px;
	height: 50px;	
	min-height: 50px;
	max-height: 100px;
	word-wrap: break-word;
	white-space: pre-wrap;
	text-rendering: optimizeLegibility;
}

.message_write textarea.form-control:focus {
 	box-shadow: 0px 5px 8px 2px rgba(25, 25, 25, 0.4);
}

div.pull-right.btn.btn-success{
	background-color: #c3bcb0;
	border-radius: 0px;
	border: none;
	color:black;
}

div.pull-right.btn.btn-success:hover{
	background-color:#c3bcb080 ;

}

i.fa.fa-paperclip.fa-2x{
	transform:rotateY(180deg);
}

.chat_bottom {
 	display: block;
}

.upload_btn {
	 color: #777777;
	 margin-top:12px;
}

.sub_menu_>li a,
.sub_menu_>li {
 	float: left;
 	width: 100%;
}

.member_list li:hover {
 	background: #428bca none repeat scroll 0 0;
 	color: #fff;
 	cursor: pointer;
}


.self_chat_time{
	font-size:0.85em; 
	color:rgb(202, 38, 128); 
	display:block; 
	text-align:right; 
	margin-right: 20px;
}

.chat_span{
	display:block; 
	padding: 5px 0px 5px 0px;
 }

.partner_chat_time{
	font-size:0.85em;
	color:rgb(202, 38, 128); 
	display:block; 
	margin-left: 20px;
 }

label{
	display:block;
	margin-left: 20px;
	margin-top: 20px;
 }

#user{
	display:block;
	margin-left: 20px;
	margin-top: 5px;
 }
.maxl{
	margin-top:25px ;
	margin-left: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	width:100%;
	max-height: 75vh;
}
.inline{
	display: inline-block;
  }
.inline + .inline{
	margin-left:10px;
  }
.radio{
	color:rgb(117, 116, 116);
	font-size:12px;
	position:relative;
  }
.radio span{
	position:relative;
	padding-left:20px;
  }
.radio span:after{
	content:'';
	width:15px;
	height:15px;
	border:3px solid;
	position:absolute;
	left:0;
	top:1px;
	border-radius:100%;
	-ms-border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
	cursor: pointer; 
	position:absolute;
	width:100%;
	height:100%;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span{
	color:black;
}
.radio input[type="radio"]:checked + span:before{
	content:'';
	width:5px;
	height:5px;
	position:absolute;
	background:black;
	left:5px;
	top:6px;
	border-radius:100%;
	-ms-border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
}

.radio, .checkbox {
    margin-top: 5px !important;
}
div.btn.btn-reset{
	background-color: #c3bcb0 ;
	border-radius: 1px;
	border: black;
	width: 100%;
	height:100%;	
	color: black
}

.button-container{
	border: none;
	width:100%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
}
	
div.btn.btn-reset:hover{
	background-color: #c3bcb080;

}

.dropDownContainer{
	margin:10px 0 10px 20px ;
}

.message_box_container{
	width: calc(100% - 50px);
}